<h1><%= menu %></h1>

<section style="margin:1em" class="row text-center placeholders">
  <div class="row">
    <% data.forEach(function(content){ %>
           <div class="card">
             <img data-src="holder.js/100px280/thumb" alt="Card image cap">
             <h3><%= content.name %></h3>
             <p class="card-text">
               <p class="card-text">
               <button class="btn btn-default" style="background-color:#f2f2f2;"><span class="fa fa-edit"></span></button>
               <button class="btn btn-danger"><span class="fa fa-trash-o"></span></button>
             </p>
           </p>
           </div>
    <%  }) %>
           <!--div class="card">
             <img data-src="holder.js/100px280/thumb" alt="Card image cap">
             <h3>ICT and its Applications</h3>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           </div>
           <div class="card">
             <img data-src="holder.js/100px280/thumb" alt="Card image cap">
             <h3>College Physics</h3>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           </div>

           <div class="card">
             <img data-src="holder.js/100px280/thumb" alt="Card image cap">
             <h3>Advanced Chemistry for A' Level</h3>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           </div>
           <div class="card">
             <img data-src="holder.js/100px280/thumb" alt="Card image cap">
             <h3>Communication with the World</h3>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           </div>
           <div class="card">
             <img data-src="holder.js/100px280/thumb" alt="Card image cap">
             <h3>Engineering Mathematics</h3>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           </div>

           <div class="card">
             <img data-src="holder.js/100px280/thumb" alt="Card image cap">
             <h3>Applied Biology</h3>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           </div>
           <div class="card">
             <img data-src="holder.js/100px280/thumb" alt="Card image cap">
             <h3>Role of Education to the Society</h3>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           </div>
           <div class="card">
             <img data-src="holder.js/100px280/thumb" alt="Card image cap">
             <h3>Programming and its Fundamental</h3>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           </div-->
         </div>

       </section>
       <% include footer%>
